@using Ventoura.Application.ViewModels.Pagination;
@using Ventoura.Application.ViewModels.Tours;
@using Ventoura.Domain.Entities;
@model List<TourReserveVM>
@{
    int count = 0;
}
<style>
    .resized-image {
        max-width: 44px; /* Maksimum genişlik */
        max-height: 44px; /* Maksimum yükseklik */
    }

    .animate {
        animation: spin 1s infinite;
    }

    .keyframes spin {
        from

    {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

    }

    .action-icons {
        display: flex;
        gap: 11px; /* İkonlar arasındaki boşluk */
    }
</style>
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid basic_table">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="border-bottom-primary">
                                    <th scope="col">No</th>
                                    <th scope="col">Tour Name</th>
                                    <th scope="col">Member Count</th>
                                    <th scope="col">Tour Capacity</th>
                                    <th scope="col">Member's Email</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr class="border-bottom-secondary">
                                        <th scope="row">@count</th>
                                        <td>
                                          @item.Name
                                        </td>
                                        <td>@item.MemberCount</td>
                                        <td>@item.Capacity</td>
                                        <td>@item.Email</td>
                                        <td class="action-icons">
                                            <a asp-action="ConfirmReservation" asp-area="VentouraAdmin" asp-controller="Reservation" asp-route-reservationId="@item.Id">
                                                <img src="~/main/img/verify.png" class="resized-image" alt="Contract Image">
                                            </a>
                                            <a asp-action="RejectReservation" asp-area="VentouraAdmin" asp-controller="Reservation" asp-route-reservationId="@item.Id">
                                                <img src="~/main/img/decline.png" class="resized-image" alt="Contract Image">
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
<!-- JavaScript -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const gifs = document.querySelectorAll('.resized-image');

        gifs.forEach(gif => {
            gif.addEventListener('mouseenter', () => {
                gif.classList.add('animate');
            });

            gif.addEventListener('mouseleave', () => {
                gif.classList.remove('animate');
            });
        });
    });
</script>
